.done{
	text-decoration: line-through;
}

.messenger{
    font-style: italic;
}

.messenger-info{
    color: gray;
    font-style: italic;
}

.messenger-success{
    color: green;
}

.messenger-error{
    color: red;
}

.status-bar{
    font-style: italic;
}

.right-align{
    text-align: right;
}

.task {
    padding-left: 10px;
    padding-right: 20px;
}

.hiding-button {
  display: none; /* Hide button */
}

.hiding-button:hover button {
   display: block; /* On :hover of div show button */
}