.done{
	text-decoration: line-through;
}

.messenger{
    font-style: italic;
}

.messenger-info{
    color: gray;
}

.messenger-success{
    color: green;
}

.messenger-error{
    color: red;
}

.status-bar{
    font-style: italic;
}

.right-align{
    text-align: right;
}

.list-item{
    padding-left: 10px;
    padding-right: 20px;
}

.list-item-immutable{
    font-style: italic;
}

.list-item-current{
    font-style: bold italic;
}

.settings-item{
    padding-left: 10px;
    padding-right: 10px;
    font-style: bold;
}

.task-input {
    width: 400px;
}

.list-input {
    width: 200px;
}

.action-button {
    padding-left: 5px;
    padding-right: 5px;
}

.action-button:hover{
    -webkit-transform: scale(1.3);
}
