diff --git i/frontend/src/js/routes/app/routes/debts/routes/edit/debt-edit-container.jsx w/frontend/src/js/routes/app/routes/debts/routes/edit/debt-edit-container.jsx
index cf0e9b2..ccd88f3 100644
--- i/frontend/src/js/routes/app/routes/debts/routes/edit/debt-edit-container.jsx
+++ w/frontend/src/js/routes/app/routes/debts/routes/edit/debt-edit-container.jsx
@@ -10,7 +10,8 @@ class EditContainer extends Component {
 
     componentWillMount() {
         const {params} = this.props.match;
-        this.props.dispatch(getDebt(params.id));
+       // this.props.dispatch(getDebt(params.id));
+        this.props.actions.getDebt(params.id);
     }
 
     render() {
@@ -30,8 +31,10 @@ export default connect((state) => {
 }, (dispatch) => {
     return {
         actions: {
-            onSubmit: bindActionToPromise(dispatch, saveDebt)
-        },
-        dispatch
+            onSubmit: bindActionToPromise(dispatch, saveDebt),
+                ...bindActionCreators({
+                    getDebt: getDebt
+                }, dispatch)
+        }
     };
 })(EditContainer);
